@model IEnumerable<Hospital.ViewModels.PatientFormViewModel>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var patient in Model)
{
    <h2>@patient.Patient.PatientName</h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>Date Admitted</th>
                <th>Ward</th>
                <th>Bed Number</th>
                <th>Date Discharge</th>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm("Delete", "PatientOccupancy", new { id = patient.Patient.PatientId}))
                {
                    <tr>
                        
                    </tr>
                }
            
        </tbody>
    </table>

}



