@model IEnumerable<Hospital.Models.Bed>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beds in this Ward</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Bed Number</th>
            <th>Name</th>
            <th>Is Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bed in Model)
        {
            <tr>
                <td>@bed.BedNumber</td>
                <td>@bed.Ward.WardName</td>
                <td>@bed.IsAvailable</td>
            </tr>
            

        }
    </tbody>
</table>