@model IEnumerable<Hospital.Models.Ward>
@{
    ViewBag.Title = "Ward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wards</h2>

<p>
    @Html.ActionLink("New Ward", "New", "Ward", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ward in Model)
        {
            <tr>
                <td>@Html.ActionLink("Edit", "Edit", "Ward", new { id = ward.WardId }, null)</td>
                <td>@ward.WardId</td>
                <td>@Html.ActionLink(ward.WardName, "Details", "Ward", new { id = ward.WardId }, null)</td>
            </tr>
        }
    </tbody>
</table>

